{%extends 'aindex.html'%}
{% block body %}

<body>
    <h1 align="center">Orders</h1>
     <form method="post" class="search-form" >
           <table class="table table-bordered table-hover table-striped">
               <tr>

             <td>
                         <label for="start_date">Start Date:</label>

                 </td>
                   <td>
            <input type="date" id="start_date" name="start_date"  class="form-control">
                   </td>
                   <td>
            <label for="end_date">End Date:</label></td>
                   <td>
            <input type="date" id="end_date" name="end_date"  class="form-control">
                       </td>
                      <td>
                     <input type="text" class="form-control" placeholder="Search for details" name="vals">
                 </td>
           <td>
                            <button class="btn btn-primary" type="submit">Search</button>
           </td>

                             <td ><button type="button" class="btn btn-info" onclick="printDiv()">PRINT</button></td>
                        </div>
                 </tr>
           </table>
        </form>

<script>
    function printDiv() {
      var divContents = document.getElementById("div_print").innerHTML;
      var a = window.open('', '', 'height=500, width=500');
      a.document.write(divContents);
      a.document.close();
      a.print();
    }
  </script>
<div id="div_print" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
<table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                

                <th>Date</th>
                <th>Customer</th>
                <th>Address</th>
                <th>Total</th>
                   <th>Status</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
              
                <td>{{ i.bm_date }}</td>
                    <td>{{ i.name }}<br>{{ i.phone }}</td>
                <td>{{ i.address }}<br>
                {{ i.district }}<br>
                {{ i.state }}<br>
                {{ i.country }}</td>
                <td>{{ i.bm_total }}</td>
            <td>{{ i.bm_status }}</td>
            <td><a href="/myapp/admin_view_order_more/{{ i.bookingmaster_id }}" class="btn btn-info"> More</a> </td>
            </tr>
            {% endfor %}
             <tr>
                 <td colspan="6" align="center"><h4>No of sales : {{ count }}  </h4></td>
            </tr>
            <tr>
                <td colspan="6" align="center"><h3>Total : {{ total }} .Rs</h3> </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
{% endblock %}
