
{%extends 'findex.html'%}
{% block body %}
 <h1 align="center">Check Up Application</h1>
    <br>
    <table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Index</th>
        <th>Species</th>
        <th>Medicial condition</th>
        <th>symptoms</th>
        <th>Additional services</th>
        <th>Nearby veterinary hospital</th>
        <th>prefered date</th>
        <th>status</th>
        
        
    </tr>

    {% for i in key %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.eartag.species}}</td>
        <td>{{i.medical_condition}}</td>
        <td>{{i.symptoms}}</td>
        <td>{{i.additional_services}}</td>
        <td>{{i.nearby_hospital}}</td>
        <td>{{i.prefered_date}}</td>
        <td>{{i.check_status}}</td>

       
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}







