
{%extends 'findex.html'%}
{% block body %}
    <body>
 <h1 align="center">Re-Artificial Insemination Application</h1>
    <br>
    <table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Index</th>
        <th>Previous Insemination Dtae</th>
        <th>Nearby Hospital</th>
        <th>Reason</th>
        <th>Prefered Date</th>
        
        
    </tr>

    {% for i in key %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.eartagai.species}}</td>
        <td>{{i.eartagai.breed}}</td>
        <td>{{i.eartagai.gender}}</td>
        <td>{{i.eartagai.regidate}}</td>
        


        <td><a class="btn btn-primary" href="/myapp/AI_request">Apply for Artificial insemination</a></td>
        
    
    </tr>
    {% endfor %}
</table>
</body>
{% endblock %}








