<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Dairy hub User Signup Form Responsive Widget Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Haunt Signup Form Responsive, Signup form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="/media/signup/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/media/signup/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
</head>
<style>
    select {
    width: 100%;
    font-size: 15px;
    padding: 15px 10px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    outline: none;
    color: #9bc4d4;
    text-align: left;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: transparent;

    }
</style>
<body>
<h1></h1>
<div class="container">

<form  method="post">
<h2>FARMER SIGN UP</h2>

<div class="agileinfo">
<input type="text" name="firstname" placeholder="First Name" required="">
</div>
<div class="agileinfo">
<input type="text" name="lastname" placeholder="Last Name" required="">
</div>
    <div class="agileinfo">
<input type="number" name="phone" placeholder="Phone" required="">
</div>
    <div class="agileinfo">
         <select name="category" id="category" required class="select">
                        <option value="" selected disabled>Select category</option>
                        <option value="APL">APL</option>
                        <option value="BPL">BPL</option>
                        <option value="AYY">AYY</option>
                    </select>
    </div>
            <div class="agileinfo">
<input type="text" name="aadar" placeholder="Adhar" required pattern="[0-9]{12}" title="Enter 12 digit Adhar NUMBER number">
</div>
        <div class="agileinfo">
<input type="text" name="address" placeholder="Address" required="">
</div>
        <div class="agileinfo">
<input type="text" name="district" placeholder="District" required="">
</div>
        <div class="agileinfo">
<input type="text" name="state" placeholder="State" required="">
</div>
        <div class="agileinfo">
<input type="text" name="country" placeholder="Country" required="">
</div>
            <div class="agileinfo">
<input type="text" name="user_name" placeholder="Username" required="">
</div>
<div class="agileinfo">
<input type="email" name="email" placeholder="Email" required="">
</div>
<div class="agileinfo">
<input type="Password" name="passw" placeholder="Password" required="">
</div>


<div class="w3l_but">
<button type="submit">REGISTER</button>
</div>
</form>
<div class="wthree_down">
<h3>Already had an Account please Login</h3>
</div>
<div class="w3agile_side">
<div class="main">
    <div class="panel">
        <a href="/all_login" id="login_pop">LOGIN</a>
    </div>
</div>
<!-- popup form #1 -->
<a href="#x" class="overlay" id="login_form"></a>
   <div class="popup">
     <h2>Welcome</h2>
     <p>Please enter your Username and Password here</p>
	 <form action="#" method="post">
   <div>
      <input type="text" name="name" placeholder="Username" required="">
   </div>
   <div>

   <input type="password" name="name" placeholder="Password" required="">
   </div>
   <a href="#"><input type="submit" value="LOGIN" /></a>
   <a class="close" href="#close"></a>
   </form>
</div>
</div>
<div class="clear"></div>

</div>
<h1></h1>
{#<div class="footer">#}
{# <p>&copy; Haunt Signup Form  2018. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="blank">W3layouts</a></p>#}
{# </div>#}
</body>
</html>